.header__menuicon_responsive{
  margin-right: 10px;
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  box-shadow: 0px 0px 10px lightgray;
}
.header__logo__box {
  display: flex;
  align-items: center;
  flex: 0.177;
}
.header__logo__box > img {
  width: 45px;
  object-fit: contain;
}
.header__logo__box p {
  font-size: 22px;
  margin-left: 7px;
}
.header__search__box {
  display: flex;
  align-items: center;
  flex: 0.43;
  padding: 10px;
  background-color: rgb(240, 236, 236);
  border-radius: 10px;
}
.header__search__box input {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border: none;
  background: none;
}
.header__search__box input:focus {
  outline: 0;
}
.header__icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.4;
}
.header__icons .icons {
  margin-right: 15px !important;
  cursor: pointer;
}
.btn_logout {
  text-transform: inherit !important;
  color: black !important;
  border: 1px solid lightgray !important;
}
.header__menuicon_responsive{
  display: none !important;
}
.responsive__menu{
  display: flex;
  align-items: center;
  font-size: 15px  !important;
}
.responsive__menu > .css-i4bv87-MuiSvgIcon-root{
  margin-right: 10px !important;
}
@media (max-width:1360px) {
  .header__menuicon_responsive{
    display: inline !important;
  }
}
@media (max-width:900px) {
  .header{
    justify-content: space-between;
  }
  .header__search__box,.icons_none{
    display: none !important;
  }
  .header__logo__box > img{
    width: 40px;
    object-fit: contain;
  }
  .btn_logout{
    font-size: 12px !important;
    padding: 5px !important;
  }
  .header__logo__box p {
    font-size: 18px;
  }
  .header__icons .icons {
    margin-right: 10px !important;
  }
}